@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: black;
    color: white;
}

h1 {
    font-size: 2.2em;
    text-decoration: underline;
}

h2 {
    font-size: 1.8em;
}

ul {
    list-style: none;
}

div#projeto1 {
    width: 200px;
    height: 200px;
    background: yellow;
}

div#projeto2 {
    width: 200px;
    height: 200px;
    background: rgb(196, 75, 75);
}

div#container {
    padding: 5px;
    width: 100vw;
    background-color: white;
    height: 350px;
    text-align: center;
}

div#meio {
    display: inline-block;
    color: black;
    background-color: yellow;
    width: 400px;
    height: 350px;
}

div#meio2 {
    color: black;
    display: inline-block;
    background-color: blue;
    width: 400px;
    height: 350px;
}

