@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around ;
    text-align: center;
    width: 100vw;
    height: 100px;
    background-color: rgb(71, 14, 124);
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px black;
}

header > img {
    width: 120px;
    height: 110px;
}

header > h1 {
    text-shadow: 1px 1px 1px 1px black;
    padding: 10px;
    color: white;
    display: inline-block;
    text-align: center;
}

header > ul {
    width: 45%;
    margin: 3px;
    border-radius: 3px;
    list-style: none;
    background-color: rgb(112, 34, 34);
    padding-left: 35px;
    padding-top: 10px;
}

ul > a {
    width: 15%;
    font-weight: bold;
    height: 78px;
    padding-bottom: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding-right: 20px;
}

ul > a:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 217, 0);
}

body {
    background: url(imagens/luffy\ e\ chopper.jpg);
    background-size: cover;
}

a > img {
    padding: 3px;
    width: 50px;
    height: 50px;
}

#zoro {
    height: 50px;
    width: 55px;
}